#cont
{
    display: flex;
    flex-direction: column;
    background-color: rgb(254, 254, 254);
    height: 100vh;
    width: 200vh;
}
.writings
{
    color: rgb(148, 7, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vh;
    font-size: 130%;
}
h2
{
    text-align: center;
    color: rgb(126, 123, 125);
    font-size: 148%;
}
.titles
{
    font-size: 140%;
    font-weight: bold;
    margin-left: 30px;
}
#home
{
    width: 40px;
    height: 40px;
    float: left;
}
#side
{
    display: flex;
    flex-direction: row;
    width:200vh;
    height: 80%;
}
#mario
{
    width: 401px;
    height: 411px;
    margin-left: 30px;
    margin-top: 90px;
}
#cont1 a
{
    text-decoration: none;
    color: rgb(47, 27, 161);
}
a:hover
{
    color: rgb(218, 14, 167)
}
/*header part*/
#header
{
    background-color: rgb(82, 80, 77);
    width: 198vh;
    height: 10vh;
    color: hsl(40, 19%, 91%);
    padding-top: 10px;
    margin-left: 2vh;
    display: flex;
    flex-direction: row;
}
#web
{
    margin-left: 10px;
}
#header a
{
    color:rgb(238, 237, 236);
    text-decoration: none;
}
#web, #go, #lp,#ja
{
    padding: 20px;
}