h1
{
    color: darkgrey;
    margin-left: 58vh;
}
h2
{
    text-align: center;
    color:rgb(184, 7, 104);
}
#d1
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  170vh;
    margin-left: 60px;
    font-size: 130%;
}
#d11
{
    height: 30vh;
    width:  150vh;
    border-top: solid 0.1px;  
}
#d12
{
    height: 30vh;
    width:  150vh;
    border-top: solid 0.1px;  
}
#d13
{
    height: 30vh;
    width:  150vh;
    border-top: solid 0.1px;   
}
#left
{
    width: 30vh;
    height: 75vh;
    margin-top: 49px;
    border-right: solid 0.1px;
    background-color: rgb(61, 58, 59);
    padding-left: 10px;
    color: rgb(250, 241, 244);
    font-size: 120%;
}
#b
{
    display: flex;
    flex-direction: row;
}
#big
{
    display: flex;
    flex-direction: column;
    width: 200vh;
    height: 100vh;
}
#em
{
    color: rgb(18, 224, 18);
    font-size: 80%;
}
a
{
    color: rgb(202, 197, 197);
    text-decoration: none;
}
img
{
    width:  120px;
    height: 120px;
    margin-top: 0px;
}
#im
{
    display: flex;
    flex-direction: column;
}
#cm
{
    width:  30vh;
    height: 72px;
    margin-left: 39px;
    margin-top: 20px;
}
#home
{
    width: 40px;
    height: 40px;
    float: left;
}
/*header part*/
#header
{
    background-color: rgb(82, 80, 77);
    width: 198vh;
    height: 10vh;
    color: hsl(40, 19%, 91%);
    padding-top: 10px;
    margin-left: 2vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}
#web
{
    margin-left: 10px;
}
a
{
    color:rgb(236, 233, 227);
    text-decoration: none;
}
#web, #go, #lp
{
    padding: 20px;
}